{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Solución</title>
  </head>
  <body>
    <div style="font-size: large;" class="contenedor-formulario">
      <div class="input" style="background-color : #f2f2f2;">
        {% for word in text %}
          {% if word.3 > 0.0 %}
            <span title={{word.1}} class="color-verde"><strong>{{word.0}}</strong></span>
          {% endif %}
          {% if word.3 < 0.0 %}
            <span title={{word.2}} class="color-rojo"><strong>{{word.0}}</strong></span>
          {% endif %}
          {% if word.3 == 0.0 %}
            {{word.0}}
          {% endif %}
        {% endfor %}
      </div>


    </div>
  </body>
</html>
